.highlight-card {
  border: 2px solid #007bff;
  position: relative;
}

.not-highlight-card {
  border: 2px solid red;
  position: relative;
}

.recommended-badge {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: bold;
}

.not-recommended-badge {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: bold;
}

span.timestampContent {
  display: none;
}


.red-strikethrough {
  color: red;
  text-decoration: line-through;
}



.google-colors {
  display: inline-block;
  font-size: 32px;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
}
.google-colors span:first-child {
  color: #4285f4; /* Blue */
}
.google-colors span:nth-child(2) {
  color: #db4437; /* Red */
}
.google-colors span:nth-child(3) {
  color: #f4b400; /* Yellow */
}
.google-colors span:nth-child(4) {
  color: #0f9d58; /* Green */
}
.google-colors span:nth-child(5) {
  color: #ab47bc; /* Purple */
}
